# Dependencies
node_modules

# Git metadata (separate git dir)
git-data

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output
.next
out

# Env files (keep local configuration private)
.env*

# System files
.DS_Store
